<div th:fragment="sidebar">
  <nav class="vh-100 w-100 bg-primary bg-gradient text-white shadow">
    <ul class="list-unstyled h-100 d-flex flex-column pt-4 px-3">
      <li class="nav-item mb-3 p-2 rounded-3 shadow-sm">
        <a class="nav-link" th:href="@{/}">Página inicial</a>
      </li>
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" th:href="@{/contatos}">Ver contatos</a>-->
<!--      </li>-->
      <li class="nav-item mb-3 p-2 rounded-3 shadow-sm">
        <a class="nav-link" th:href="@{/novoContato}">Adicionar contato</a>
      </li>
      <li class="nav-item p-2 rounded-3 shadow-sm">
        <a class="nav-link" th:href="@{/logout}">Sair</a>
      </li>
    </ul>
  </nav>
</div>