<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Novo Contato</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body class="d-flex flex-row min-vh-100 mx-4">
<aside>
  <div th:replace="~{fragments/sidebar :: sidebar}"></div>
</aside>

<main>
  <div th:replace="~{newContact :: content}">
    <div class="container mt-4" th:fragment="content">
      <h2 class="mb-4">Adicionar Contato</h2>
      <form class="form text-start" id="newContactForm">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="name" class="col-form-label">Nome</label>
            <input type="text" id="name" name="name">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="nickname" class="col-form-label">Apelido</label>
            <input type="text" id="nickname" name="nickname">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="email" class="col-form-label">E-mail</label>
            <input type="text" id="email" name="email">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="phone" class="col-form-label">Telefone</label>
            <input type="tel" id="phone" name="phone">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="address" class="col-form-label">Endereço</label>
            <input type="text" id="address" name="address">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="submit" class="btn btn-primary" value="Adicionar Contato ">
          </div>
        </div>
      </form>
    </div>
  </div>
</main>

  <script>
    const newContactForm = document.getElementById('newContactForm');

    /**
     * Arrow function that call the RestController to add a new contact.
     *
     * @async
     * @param {Event} e - The form submission event.
     */
    newContactForm.addEventListener('submit', async (e) => {
      e.preventDefault();

      const formData = new FormData(newContactForm);
      const contactData = {};
      formData.forEach((value, key) => {
        contactData[key] = value;
      });

      const response = await fetch('contato/novo', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'Accept': 'application/json'
        },
        body: JSON.stringify(contactData)
      });

      if (response.status === 200) {
        window.location.href = '/';
      }
    });
  </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>