<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Atualizar Contato</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body class="d-flex font-monospace">
  <aside class="vh-100 w-auto">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
  </aside>

  <main>
    <div th:replace="~{updateContact :: content}">
      <div class="d-flex flex-column ms-5 vh-100 mt-4" th:fragment="content">
        <h2 class="mb-4">Atualizar Contato</h2>
        <form class="form vh-auto" id="updateContactForm">
          <input type="hidden" name="id" th:value="${contact.id}">

          <div class="form-group mb-3">
            <label for="name" class="form-label">Nome</label>
            <input type="text" class="form-control" id="name" name="name" th:value="${contact.name}">
          </div>
          <div class="form-group mb-3">
            <label for="nickname" class="form-label">Apelido</label>
            <input type="text" class="form-control" id="nickname" name="nickname" th:value="${contact.nickname}">
          </div>
          <div class="form-group mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="text" class="form-control" id="email" name="email" th:value="${contact.email}">
          </div>
          <div class="form-group mb-3">
            <label for="phone" class="form-label">Telefone</label>
            <input type="tel" class="form-control" id="phone" name="phone" th:value="${contact.phone}">
          </div>
          <div class="form-group mb-3">
            <label for="address" class="form-label">Endereço</label>
            <input type="text" class="form-control" id="address" name="address" th:value="${contact.address}">
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Atualizar Contato">
          </div>
        </form>
      </div>
    </div>
  </main>

<script>
  /**
   * Arrow function that calls the RestController to update a contact.
   *
   * @async
   * @param {Event} e - The form submission event.
   */
  document.getElementById("updateContactForm").addEventListener("submit", async (e) => {
    e.preventDefault();

    const form = new FormData(document.getElementById("updateContactForm"));
    const id = form.get("id");

    const contactData = {
      name: form.get("name"),
      nickname: form.get("nickname"),
      email: form.get("email"),
      phone: form.get("phone"),
      address: form.get("address")
    }

    const response = await fetch(`/contato/atualizar/${id}`, {
      method: "PUT",
      headers: {
        "Content-Type": "application/json",
        "Accept": "application/json"
      },
      body: JSON.stringify(contactData)
    });
    if (response.status === 200) {
      alert("Contato atualizado com sucesso!");
      window.location.href = "/";
    } else {
      return alert(await response.text());
    }
  });
</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>